---
layout: default
---

<div class="home">
  
  
 <div class="col col-12">
      <div class="col col-3">
          <!--
          <div class="block glass"  style="background-image:url(assets/founder_avatar.jpg)">
          </div> -->
          <div class="block"  style="background-image:url(assets/founder_avatar.jpg)">
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>Founder Message </h2>
                <!--<p class="grey-text">-->
                  Big Leader의 Founder 전종식입니다. 반갑습니다. <br>
                  <b>"정직하게 실력을 쌓는 것만이 유일한 방법이다." </b><br>
                  이 말이 저는 정말 가슴에 와 닿습니다. 이제는 SKY 대학을 나와도 취업률이 50% 라고 합니다. 좋은 대학 좋은 과를 나오기 위해 어린 시절부터 대학교 때 까지 부모님들의 자식에 대한 투자를 아끼지 않습니다. 심지어는 외국 유학까지 ..<br>
                  <a href = "http://bigleader.net/about/"> >> Read More </a>
                <!--</p>-->
            </div>
        </div>
      </div>  
  </div>
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}})">
            <div class="block-body height-{{port.height}}">              
                <h2 class="align-bottom-right">
                  {{ port.title }}
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  <div class="col col-12">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block {{post.color}}">
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <!-- Skill disappers
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">Subject</h3>                
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>                
                {% endfor %}
            </div>
        </div>
    </div>
    -->
</div>
